body {
    background: #d3d0d0;
}

p {
    color: rgb(34, 34, 34);
    
}

.foto-principal {
    width: 150px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    /*
    border-width: 5px;
    border-color: black;
    border-style: solid;
    */ 

}
